<h1>Runs</h1>
<p>hello <%= @user.email %></p>
<div class="card p-2">
<ul>
  <% @runs.each do |run| %>
    <li>
      <%= link_to run.name, run %>
    </li>
  <% end %>
</ul>
</div>


<%= link_to "New Run", new_run_path %>
